{% extends 'base.html' %}

{% block content %}

<div class="snip-info">
  <h2>Snipp.it | Your Profile</h2>
  <h4>Welcome back, {{profile.name}}</h4>

  <a href="{% url 'edit-profile' pk=profile.pk %}">EDIT YOUR PROFILE</a> | <a href="{% url 'add-snippet' %}">ADD A NEW SNIPPET</a>
  <p>Your Snippets:</p>
</div>
<br>
<div class="snip-container">

    {% for snippet in snippets %}

   
    <div class="one-snip">
      <div class="edit-delete-button">
        <a href="{% url 'edit-snippet' pk=snippet.pk %}"><button class="edit-snippet">EDIT SNIPPET</button></a>
        <button class="delete-snippet" id="{{snippet.pk}}">DELETE SNIPPET</button>
      </div>
      <div class="terminal-timeline">
        <div class="terminal-card">
          <header>{{snippet.title}}</header>
          <p class="terminal-alert">Created By: {{snippet.user}}</p>
          <p class="terminal-alert terminal-alert-primary">Language: {{snippet.language}}</p>
          <pre><code class="language-{{snippet.language}}">{{snippet.code}}</code></pre>
        </div>
      </div>
    </div>
    
    {% endfor %}
</div>

{% endblock %}