<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Code Snippet Manager</title>
</head>
<body>
    <div>
        <nav class="nav1">
            <li><a href="profile">My Snippets and Profile</a></li>
            <li><a href="">Snippets Feed</a></li>
        </nav>
        <nav class="nav2">
            <p><a href="accounts/login">Sign-In</a></p> | <p><a href="accounts/register">Register</a></p>
        </nav>
    
    </div>

    {% block content %}
    {% endblock content %}
</body>
</html>