{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href= "{% static 'css/style.css' %}">

    <title>Snipp.it - a code snippet manager</title>
</head>
<body>
    <div class="navigation">
        <div>
            <h2 class="terminal-prompt">Snipp.it</h2>
        <div class="nav1">
            <nav>
                <li><a href="/">Snippet Feed</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Your Profile</a><li>
                {% endif %}
            </nav>
        </div>
        <div class="nav2">
            <nav>
                <li><a href="/accounts/login/">Sign In<a></li>
                <li><a href="/accounts/register/">Register</a></li>
            </nav>
        </div>
    </div>
    <div class="page-content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>